body{
    font-family: 'Gentium Plus', serif;
}
h2{
    font-weight: 300;
    font-size: 25px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.columna{
    border: 1px solid black;
    border-radius: 1em;
    padding: 10px;
    text-align: center;
    width: 23%;
    box-shadow: 5px 5px 20px rgb(211, 210, 210);
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;

}
.precio{
    color: rgb(84, 178, 233);
    font-size: 3em;
}
.link-comprar{
    text-decoration: none;
    background-color: rgb(223, 117, 78);
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: azure;

}
.link-comprar:hover{
    background-color: rgb(223, 97, 52);
}
@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}
@media (max-width: 600px){
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }
}

